*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    padding: 30px;
    color: antiquewhite;
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}
#ADVENTURE{
    font-size: 30px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
}
ul li{
    margin: 0 30px;
    font-size: 20px;
}
.home{
    color: #fc036b;
    font-weight: bold;
}
header{
   height: 100vh;
   width: 100%;
  background: url(https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
   background-size: cover;
   background-position: bottom;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}
.b{
    text-align: center;
    margin-bottom: 180px;
    color: antiquewhite;
   
}
.b h2{
    font-size: 40px;
    margin-right:132px ;
}
.b h1{
    font-size: 70px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.line{
    width: 160px;
    height: 5px;
    border-radius: 4px;
    background: #fc036b;
    margin: 10px auto;
}
.btn{
    text-decoration: none;
    padding: 15px 30px;
    background: #fc036b;
    border-radius: 40px;
    color: antiquewhite;
    border: 3px solid antiquewhite;
}
.paragraph{
    text-align: center;
    margin-top: 50px;
}
.main{
    display: flex;
    justify-content: space-evenly
}
.left h4{
    text-align: center;
}
.left p{
    text-align: center;
}

.right h4{
    text-align: center;
}
.right p{
    text-align: center;
}
#ADVENTURE:hover{
    color: #fc036b;
}
.home:hover{
    color: antiquewhite;
}
li:hover{
    color: #fc036b;
}
.btn:hover{
    border: 3px solid #fc036b;
    background: transparent;
    color: #fc036b;
}

#img1{
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    border-radius: 5%;
}
#img2{
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    border-radius: 5%;
}
#text1{

text-align: center;
}
#text2{ 
    text-align: center;
    
}
#button1{
margin-left: 50px;
}
#button2{
    margin-left: 50px;
    }
*@media(140px)
